h2 {
	color: #14A83B;
	font-weight: bold;
}

.table thead th {
	color: #ffffff;
	background-color: #333333;
}

.table {
	text-align: center;
}

.name {
	text-align: left;
}

.btn {
	background-color: #14A83B;
}

.warranty a, .detail a {
	color: #14A83B;
}

.warranty a:hover, .detail a:hover{
	text-decoration: underline;
}

.dataTables_scrollHeadInner {
	width: 100% !important;
}
	
.dataTables_scrollHeadInner table {
	width: 100% !important;
	margin-bottom: 0 !important;
}