h2 {
	color: #14A83B;
	font-weight: bold;
}

.table thead th {
	color: #ffffff;
	background-color: #333333;
	vertical-align: middle;
}

.table {
	text-align: center;
}

.name {
	text-align: left;
}

.btn {
	background-color: #14A83B;
}

.system a, .system + td a, .warranty a, .detail a {
	color: #14A83B;
}

.warranty span{
	color: #14A83B;
	cursor: pointer;
}

.warranty span:hover{
	text-decoration: underline;
}

#oldWarrantyDiv div div.dt-bootstrap4{
	width: 80%;
}

#warrantyCreateModal div div div table th{
	cursor: pointer
}

.selected{
	background: #14A83B;
	color: #ffffff
}

.dataTables_scrollHeadInner {
width: 100% !important;
}

.dataTables_scrollHeadInner table {
width: 100% !important;
}

.modal-content{
	border-radius: 0;
}

.modal-header{
	background: #333333;
	border-radius: 0;
	color:white;
}

tr th{
	background: #333333;
	color:white;
}