h1 {
	color: #14A83B;
	font-weight: bold;
}

th {
	color: #ffffff;
	background-color: #333333;
}

table {
	text-align: center;
}

.name {
	text-align: left;
}

.btn {
	background-color: #14A83B;
}

.warranty a, .detail a {
	color: #14A83B;
}
